@font-face {
    font-family: 'Balqis';
    font-weight: 700;
    src: url('./Fonts/Balqis.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url(./Fonts/RobotoCondensed-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(./Fonts/RobotoCondensed-Light.ttf) format('truetype');
}